@import "./reset.css";
/*--------general--------*/
:root {
    --col-main-blue: #01a6e8;
    --col-main-blue-hover: #0993ca;
    --col-main-dark-blue: #054c68;
    --col-main-orange: #ffac14;
    --col-main-orange-hover: #ec9800;
    --col-main-orange-hover: #9d6600;
    --col-white: #edeaea;
    --col-black: #111111;
    --col-dark: #1B2430;
    --col-other-dark: #2D343F;
}

.container {
    width: min(100% - 40px, 1280px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.center {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--col-dark) ;
}

.textStyle{
    color: var(--col-white);
}

/*--------end of general--------*/


/*--------THE HEAD--------*/
.pageTitle {
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
}

.btn {
    margin: 30px 10px 15px 10px;
    width: 90px;
    height: 50px;
    background-color: var(--col-main-blue);
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
}

.pause {
    background-color: #d80000;
    box-shadow: 1px 1px 20px 1px #d8000090;
}

.start {
    background-color: #00d700;
    box-shadow: 1px 1px 20px 1px #00d70090;
}

.restart {
    box-shadow: 1px 1px 20px 1px #01a6e890;
}

.help {
    background-color: #808080;
    box-shadow: 1px 1px 20px 1px #80808090;
}

/*--------BUTTON EFFECTS--------*/

.pause:hover {
    background-color: #c40000;
    box-shadow: 1px 1px 30px 1px #d8000090;
}

.start:hover {
    background-color: #00c300;
    box-shadow: 1px 1px 30px 1px #00d70090;
}

.restart:hover {
    background-color: var(--col-main-blue-hover);
    box-shadow: 1px 1px 30px 1px #01a6e890;
}

.help:hover {
    background-color: #767676;
    box-shadow: 1px 1px 30px 1px #80808090;
}


/*--------end of the head--------*/


/*--------SCORE BOARD--------*/

.scoreBoard {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
    height: 100px;
    width: 800px;
    border-radius: 24px;
    background-color: var(--col-other-dark);
    border: 1px solid #edeaea50;
    box-shadow: 1px 1px 20px 1px #edeaea40;
}

.SB {
    margin: 0px 60px 0px 60px;
    font-size: 20px;
    width: 110px;
    text-align: center;
}

.sbTimer {
    width: 120px;
    text-align: center;
    border-radius: 24px;
    background-color: var(--col-other-dark);
    font-size: 30px;
}

/*--------end of score board--------*/


/*--------GAME BOARD--------*/

.gameBoard {
    margin-top: 15px;
    width: 800px;
    height: 500px;
    background-color: var(--col-other-dark);
    border-radius: 24px;
    border: 1px solid #edeaea50;
    box-shadow: 1px 1px 20px 1px #edeaea40;
}

.theWord {
    width: 520px;
    height: 75px;
    border-radius: 16px;
    background-color: #353d4a;
    font-size: 50px;
    text-align: center;
    border: 1px solid #edeaea50;
    box-shadow: 1px 1px 20px 1px #edeaea40;
}

.typingArea {
    width: 400px;
    height: 100px;
    border-radius: 16px;
    background-color: #353d4a;
    color: var(--col-white);
    text-align: center;
    font-size: 30px;
    border: 1px solid #edeaea50;
    box-shadow: 1px 1px 20px 1px #edeaea40;
}

/*--------end of game board--------*/